venv/
env/
env.bak/
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
*.log
metadata.txt
.cached/
*.cache
.secret
.env
build/
dist/
*.egg-info/
meta.json
.wdm/
scratches/
*.zip
*.qrc
*.ui
*.png
*.ttf
*.spec
metadata.py