altgraph==0.17.4
keyboard==0.13.5
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
pip3-autoremove==1.2.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
pywin32==306
pywin32-ctypes==0.2.2
rotate-screen==0.1.5
